/* цвет основного текста #212121*/
/* вторичный цвет #757575 */
/*белый #FFFFFF*/
/*акцент #2196F3; #000000; rgba(255, 255, 255, 0.6);*/
/* основной цвет фона #e5e5e5*/
/* вторичный цвет фона #2F303A; #F5F4FA; #FFFFFF */
/* body */
:root{
  --primary-text-color:#212121;
  --title-text-color: #757575;
  --accent-text-first:#2196f3;
  --accent-text-second: #000000;
  --accent-text-third: rgba(255, 255, 255, 0.6);
  --primari-background-color: #e5e5e5;
  --title-background-color: #2F303A;
  --acctnt-background-color:  #F5F4FA;
  --wite:  #ffffff;
}


}
.page {
  background-color:var(--primari-background-color);
  color: var(--primary-text-color);
}
/* header */
.header {
  background-color:var(--wite);
}
.logo-header {
  color:var(--accent-text-second);
}
.logo-top {
  color:var(--accent-text-first);
}
ul {
  list-style: none;
}
.site-nav a {
  color:var(--primary-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color:var(--accent-text-first); 
}
.nav-link.current {
  color:var(--accent-text-first);
}
.contact-link a,
p {
  color:var(--title-text-color)
}
.contact-link a:hover,
.contact-link a:focus {
  color:var(--accent-text-first);
}
/* hero */
.hero,
.footer {
  background-color:var(--title-background-color)
}
.hero-title,
.hero-button {
  color:var(--wite);
}
.hero-button {
  background-color:var(--accent-text-first);
}
.hero-button:hover,
.hero-button:focus {
}
/* section */
.section {
  background-color:var(--acctnt-background-color)
}
/* our-team */

.team-list {
  background-color: var(--wite);
}
/* footer */
.logo-footer,
.contacts-list a {
  color: var(--wite);
}
.link {
  color:var(--accent-text-third)
}
